$line-1: rgb(0, 83, 159);
$line-2: rgb(0, 138, 97);
$line-3: rgb(239, 64, 33);
$line-4: rgb(255, 212, 0);
$line-5: rgb(165, 68, 153);
$line-15: rgb(133, 141, 143);

$success: rgb(127, 174, 65);
$warning: rgb(250, 243, 151);
$danger: rgb(255, 83, 66);

$orange: #EB7D00;
$lithishgray: #919191;
$purple: #840CF8;
$lightergray: #F2F2F2;
$white: #FFFFFF;
